.button {
  padding: 80px 160px;
  font-size: 100px;
  cursor: pointer;
}

.image-container {
  text-align: center;
  margin-top: 20px;
  background: 0000FF;
}

#image {
  max-width: 100%;
  height: auto;
}
